[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
    overflow-y:visible;
    background: url(game/images/background.jpg);
    background-position:center;
    text-align: center;
}

.navbar
{
    background: rgb(54,54,54);
    min-height: 0px;
}