<!--
<br>
<br>
<a href="#/">To Start</a>
<br>
<p>This is a Game Screen  {{ testMessage }}</p>


-->
<nav class="navbar navbar-fixed-top">
  <p class="displayBullets">Shots Available: {{ bullets }}</p>
</nav>

<p class="btnStart" ng-click="start_game()">Start the Heist</p>

<br>



<br>

<div class="container game_screen" ng-repeat="scene in completed_scenes ">
    <div class="container game_text_container">
        <div class="game_text animated fadeInUp">
            <p>{{ scene.scene_text }}</p>
            <p ng-show="scene.gamble_border"><b>Result needed to win: {{ scene.gamble_border }}/12</b></p>
            <p ng-show="scene.scene_type ==='result_scene'"><b>Your gamble result is: {{ scene.gamble_result }}/12</b></p>
            
            <div class="btn btn-default btnChoice" ng-show="scene.choice_one_text" ng-click="game_function(scene.choice_one())">        
                {{scene.choice_one_text}}
                <p ng-show="scene.bullets_price">
                    Chance increase: {{scene.gamble_border - scene.bullets_price}}/12.
                    <span> Price: {{ scene.bullets_price }} </span>
                </p>
                
            </div>
            <div class="btn btn-default btnChoice" ng-show="scene.choice_two_text" ng-click="game_function(scene.choice_two())">{{scene.choice_two_text}}</div>
        </div>
    </div>
    
</div>

<div class="scrollDownAnchor" id="{{ completed_scenes.length-1 }}"></div>