<!--
<br>
<br>
<a href="#/">To Start</a>
<br>
<p>This is a Game Screen  {{ testMessage }}</p>


-->
<nav class="navbar navbar-fixed-top">
  <p class="displayBullets">Shots Available: {{ bullets }}</p>
</nav>

<p class="btnStart" ng-click="start_game()">Start the Heist</p>

<br>



<br>

<div class="container game_screen" ng-repeat="scene in completed_scenes ">
    <div class="container game_text_container">
        <div class="game_text animated fadeInUp">
            <p>{{ scene.scene_text }}</p>
            <p ng-show="scene.gamble_border"> This is a gamble border{{ scene.gamble_border }}</p>
            <p ng-show="scene.scene_type ==='result_scene'">{{ animation_trigger }}</p>
            
            <button ng-show="scene.choice_one_text" ng-click="game_function(scene.choice_one())">{{scene.choice_one_text}}</button>
            <button ng-show="scene.choice_two_text" ng-click="game_function(scene.choice_two())">{{scene.choice_two_text}}</button>
        </div>
    </div>
    
</div>

<div class="scrollDownAnchor" id="{{ completed_scenes.length-1 }}"></div>