.btnGoToGame
{
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    transform: rotate(-3deg);
    padding-top: 150px;
    cursor: pointer;
}

.btnGoToGame a
{
    color: white !important;
    background: black;
}

.game_screen{
/*    background: blue;*/
    padding-left: 150px;
    padding-right: 150px;
}

.btnStart
{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    transform: rotate(-3deg);
    margin-top: 70px;
    margin-bottom: 10px;
    color: red;
    cursor: pointer;
}

.btnStart:hover,
.btnStart:active
{
    color: lightcoral;
    text-shadow: 0 0 20px red;
}

.displayBullets{
    color: white;
    padding-top: 10px;
}

.game_text_container{
    height: 150px;
    
}

.game_text{
    font-size: 15px;
    height: 135px;
    width: 100%;
    background: #161a1b;
    border: 4px solid #14171c;
    box-shadow: 0 -7px 25px 0px #546f93;
    border-radius: 5px;
}

.game_text p{
    color: white;
    padding-top: 5px;
    margin-bottom: 3px;
    
}

.scrollDownAnchor
{
    margin-top: 20%;
}

.btnChoice
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: black !important;
    color: red;
    font-weight: bold;
}

/*starting from 600px and more*/
@media screen and (max-width: 700px) {
    .game_screen{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*---------------------- ANIMATION REDEFINE -----------------*/

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}